.ModalContainer {
  width: 100%;
  height: 100vh;
  padding: 1em;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
}

.ModalYourCartContainer {
  width: 39em;
  min-height: 10em;
  padding: 1em;
  background-color: white;
  border-radius: 1em;
}
.ModalYourCart {
  display: flex;
  justify-content: space-between;
  align-items: self-end;
}
.ModalMyProduct {
  display: flex;
}
.ModalMyProductName {
  margin-bottom: 0.4em;
  font-size: 1.3em;
  font-weight: 800;
}
.ModalMyProjectPrice {
  font-size: 0.8em;
  font-weight: 800;
  color: #994020;
}
.ModalMyProductCount {
  border: 0.1em solid lightgray;
  border-radius: 0.3em;
  padding: 0.2em 0.5em;
  align-self: end;
  font-weight: 800;
  font-size: 0.8em;
}
.ModalMyProjuctCountButton {
  width: 4em;
  margin-left: 1em;
  border: 0.1em solid #994020;
  background-color: white;
  border-radius: 0.5em;
  color: #994020;
}
.ModalMyProjuctCountButton:hover {
  border: 0.1em solid #994020;
  background-color: #994020;
  border-radius: 0.5em;
  color: white;
}
.ModalHrLine {
  border-color: #994020;
}

.ModalTotalContainer {
  display: flex;
  justify-content: space-between;

  font-size: 1.4em;
  font-weight: 800;
}

.ModalCloseButton {
  border: 1px solid #994020;
  background-color: white;
  color: #994020;
  margin-left: 1em;
}
